.opacidade{
	opacity: 0.5;
	/*color:black;*/
}

.panel-lpink {
  border-color: #ff8080;
}
.panel-lpink > .panel-heading {
  border-color: #ff8080;
  color: white;
  background-color: #ff8080;
}
.panel-lpink > a {
  color: #ff8080;
}
.panel-lpink > a:hover {
  color: #ff6666;
}


.panel-lyellow {
  border-color: #efa743;
}
.panel-lyellow > .panel-heading {
  border-color: #efa743;
  color: white;
  background-color: #efa743;
}
.panel-lyellow > a {
  color: #efa743;
}
.panel-lyellow > a:hover {
  color: #ed9c2c;
}

.panel-dyellow {
  border-color: #eb9114;
}
.panel-dyellow > .panel-heading {
  border-color: #eb9114;
  color: white;
  background-color: #eb9114;
}
.panel-dyellow > a {
  color: #eb9114;
}
.panel-dyellow > a:hover {
  color: #d38312;
}

.panel-lblue {
  border-color: #5095ff;
}
.panel-lblue > .panel-heading {
  border-color: #5095ff;
  color: white;
  background-color: #5095ff;
}
.panel-lblue > a {
  color: #5095ff;
}
.panel-lblue > a:hover {
  color: #4d94ff;
}

.panel-dblue {
  border-color: #005ce6;
}
.panel-dblue > .panel-heading {
  border-color: #005ce6;
  color: white;
  background-color: #005ce6;
}
.panel-dblue > a {
  color: #005ce6;
}
.panel-dblue > a:hover {
  color: #d38312;
}

.panel-lgreen {
  border-color: #66cc66;
}
.panel-lgreen > .panel-heading {
  border-color: #66cc66;
  color: white;
  background-color: #66cc66;
}
.panel-lgreen > a {
  color: #66cc66;
}
.panel-lgreen > a:hover {
  color: #53c653;
}


.panel-lpurple {
  border-color: #c653c6;
}
.panel-lpurple > .panel-heading {
  border-color: #c653c6;
  color: white;
  background-color: #c653c6;
}
.panel-lpurple > a {
  color: #c653c6;
}
.panel-lpurple > a:hover {
  color: #ac39ac;
}


.panel-dpurple {
  border-color: #732673;
}
.panel-dpurple > .panel-heading {
  border-color: #732673;
  color: white;
  background-color: #732673;
}
.panel-dpurple > a {
  color: #732673;
}
.panel-dpurple > a:hover {
  color: #4d194d;
}



.panel-lturquoise {
  border-color: #4dd2ff;
}
.panel-lturquoise > .panel-heading {
  border-color: #4dd2ff;
  color: white;
  background-color: #4dd2ff;
}
.panel-lturquoise > a {
  color: #4dd2ff;
}
.panel-lturquoise > a:hover {
  color: #1ac6ff;
}

.panel-dturquoise {
  border-color: #00ace6;
}
.panel-dturquoise > .panel-heading {
  border-color: #00ace6;
  color: white;
  background-color: #00ace6;
}
.panel-dturquoise > a {
  color: #00ace6;
}
.panel-dturquoise > a:hover {
  color: #0086b3;
}
.label-cadastros {
  color:#ff0000;
}


.addon-background{
  background-color:#4dd2ff;
}

.disabled{ 
	color: #b8b894;
}